<!DOCTYPE css>

	/* publicdocument.org */


html, body{
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	background-color: #ffffff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

body{
	max-width: 1200px;
	padding-bottom: 4rem;
	padding-top: 1rem;
	padding-left: 3rem;
	padding-right: 2rem;
}

div{
	padding: 0px;
	margin: 0px;
	line-height: 6rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-hyphens: auto;
  	-ms-hyphens: auto;
  	hyphenate-limit-chars: auto 3;
  	hyphenate-limit-lines: 3;
  	hyphens: auto;
}



a{
    color: #000;
}

a:link {
	border-bottom: 2px dotted #000;
    text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #000;
    text-decoration: none;
}

a:visited {
}

h1{
    font-family: 'Raleway';
    font-weight: 600;
	display: block;
	position: relative;
	font-size: 2.2rem;
	line-height: 3.2rem;
	color: #000000;
	text-align: left;
	padding: 0 0 0 0;
    margin-top: 1.2rem;
	margin-bottom: 1.9rem;
}

h1 a{
    border-bottom: 0 !important;
}

h2{
    font-family: 'Raleway';
	display: block;
	position: relative;
	font-size: 2.2rem;
	line-height: 3.35rem;
	color: #000000;
	text-align: left;
	margin: 0;
    padding: 0;
}

.handle {
    font-weight: 200;
    margin-top: 23rem;
}

.number {
    font-weight: 600;
    padding-right: 0.5em;
}

.title {
    font-weight: 400;
    padding-right: 0.5em;
}

.date {
    font-weight: 200;
}

h4{
	display: block;
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #000000;
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 0;
}
